body {
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
}

.keyword {
    color: red;
    font-weight: bold;
}

.identifier {
    color: orange;
}

.number {
    color: purple;
}

.string {
    color: pink;
}

.char {
    color: yellow;
}

.operator {
    color: cyan;
}

.comment {
    color: green;
    font-style: italic;
}

.preprocessor {
    color: blue;
}

.delimiter {
    color: gray;
}